<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sanket/IdeaProjects/ATB7x-APIAutomationPrograms">
        <classes>
            <class name="com.thetestingacademy.ex_28022026_CRUD.testng.TestNG001">
                <methods>
                    <include name="testng_get"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>